*.pyc
*.pyo
.#*
*.log
centinel_latest.tar.bz2
centinel/logs/*
centinel/keys/*
centinel/remote_experiments/*
centinel/custom_experiments/*
centinel/experiment_data/*
centinel/results/*
centinel/results_archive/*
centinel/confs/client_config.cfg
sirocco/server_results/*
sirocco/server_keys/*
sirocco/server_keys/clients/*
sirocco/log_archive/*
sirocco/kobra_users_list
sirocco/confs/*
centinel.egg-info/
dist/
