*.pyc
*.pyo
.#*
*.log
centinel/logs/*
centinel/confs/client_config.cfg
centinel/results/*
centinel/results_archive/
centinel/server_results/
centinel/server_keys/*
centinel/server_keys/clients/*
centinel/conf_experiments/*
centinel/client_keys/*
centinel.egg-info/
dist/
